@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka';
}
body{
    background-color: orange;
}
#fernando{
    display: flex;
    align-items: center;
    justify-content: center;
}
#fernando img{
    margin-top: 35px;
}

#container{

    margin: 5px auto;
    background-color: rgb(251, 253, 255);
    border-radius: 10px;
    width: 600px;
    height: 100px; 
    position: relative;
}
#container #falas{
    padding: 10px;
    font-size: 18px;
}

#botao input{
    width: 50px;
    height: 20px;
    background-color: rgb(85, 85, 85);
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px; /* Distância da borda inferior */
    right: 10px;  /* Distância da borda direita */
}

#container #Responder-Perguntas{
    display: none;
    margin: 10px;
    padding: 30px 250px;
    font-size: 18px;
    width: 200px;
}

#respostas{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
#respostas #Opçao1 {
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}
#respostas #Opçao2 {
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}