<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fase.css">
    <script src="../scripts/script.js" defer></script>
    <title>Document</title>
</head>
<body>
    <!-- Div responsável por aparecer as imagens do personagem-->
    <div id="fernando">
        <img  src="../icons/fernando sorriso neutro.png" alt="">
    </div>

    <!-- Container conde tem a área dos textos e botões de próximo-->
    <div id="container">
        <p id="falas">Este é Fernando, ele irá ajudá-lo a estudar sobre verbos imperativos na forma nagativa regular</p>
        <div class="botao"><input type="button" value="Próximo"></div> 
        <div class="ok hide"> <input type="button" value="OK"></div>
        <div class="proxima-pergunta"> 
            <input type="button" value="Próxima Pergunta"></input>
    
    </div>

    <!--Div onde contém os botões de respostas-->
    <div id="respostas">
        <input type="button" class="Opçao answer" value="Sin">
        <input type="button" class="Opçao answer" value="No">
        <input type="button" class="Opçao answer" value="Sin">
        <input type="button" class="Opçao answer" value="No">
    </div>    
    
</body>
</html> 