<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fase.css">
    <script src="/scripts/script.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div id="fernando">
        <img  src="/icons/fernando sorriso neutro.png" alt="">
    </div>
    <div id="container">
        <p id="falas">Este é Fernando, um jovem que está estudando para uma prova de espanhol, ajude-o a estudar, converse com ele e corrijá-o se necessário</p>
        <div id="botao">
            <input type="button" value="OK">
        </div>  
    </div>
    <div id="respostas">
        <input type="button" id="Opçao1" value="Sin">
        <input type="button" id="Opçao2" value="No">
    </div>
</body>
</html>