<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Conversando com Fernando</title>
</head>
<body>
    <header id="titulo">
        <h1>Hola Fernando</h1>
    </header>
    <body>
        <div id="fernando_index">
            <img src="/icons/fernando_feliz.png" alt="Fernando sorriso de canto">
        </div>
        <div id="jogar">
            <a href="fase.html"><input type="button" value="Jugar"></a>
        </div>
    </body>
    <footer>
        
    </footer>
</body>
</html>